@import "../styles/variables.scss";

.fadein {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}



#light {
  background-color: $white;
  color-scheme: light;
}
#dark {
  background-color: $black;
  color-scheme: dark;
}

/*
example for specific items for light/dark mode changes:  use #mode .classname
#light .sidebar { }
#dark .sidebar { }
*/

#dark :root {
  color-scheme: dark;
}
#light :root {
  color-scheme: light;
}

.maincontainer {
  height: 100vh;
}